{
    "menuName": "<%= config[:pluginname].capitalize %>",
    "icon": "<%= config[:icon].split('/').last %>",
    "mainPage": "<%= config[:pluginname].downcase.pluralize %>.qml",
    "itemHead": "<%= config[:itemhead] %>"
}
