{
    "name": "conferences",
    "type": "normal",
    "menuName": "<%= config[:pluginname].capitalize %>",
    "icon": "<%= config[:icon].split('/').last %>",
    "mainPage": "<%= config[:pluginname].downcase.pluralize %>.qml",
    "itemHead": "<%= config[:itemhead] %>",
    "showInSwipeView": true,
    "showInDrawer": true,
    "drawerPosition": 0,
    "swipeViewPosition": 0,
    "homePlugin": true
}
